<div class="min-h-screen bg-gray-100">
  <!-- Navbar -->
  <nav class="bg-blue-600 text-white px-6 py-4 flex justify-between items-center shadow-md">
    <h1 class="text-lg font-semibold">Tareas de {{ username }}</h1>
    <button 
      class="bg-red-500 hover:bg-red-600 px-4 py-2 rounded-lg text-white text-sm font-medium"
      (click)="logout()">
      Cerrar Sesión
    </button>
  </nav>

  <!-- Botón para crear una nueva tarea -->
  <div class="p-6 flex justify-left">
    <a 
      class="bg-green-500 hover:bg-green-600 px-4 py-2 rounded-lg text-white font-medium"
      routerLink="/task/form">
      Nueva Tarea
    </a>
  </div>

  <!-- Filtro de tareas -->
  <div class="p-6 flex flex-col sm:flex-row gap-4 items-center">
    <label class="text-gray-700 font-medium">Filtrar por estado:</label>
    <select class="p-2 border rounded-lg" [(ngModel)]="filterStatus">
      <option value="all">Todas</option>
      <option value="pending">Pendientes</option>
      <option value="completed">Completadas</option>
    </select>

    <!-- Barra de búsqueda -->
    <input 
    type="text" 
    class="p-2 border rounded-lg w-full sm:w-1/3" 
    placeholder="Buscar tarea por nombre..." 
    (input)="onSearchChange($event)">
  
  </div>

  <!-- Contenedor de las Cards -->
  <div class="p-6">
    <div *ngIf="filteredTasks.length === 0" class="text-center text-gray-600 text-lg font-semibold">
      No hay tareas para mostrar
    </div>

    <div *ngIf="filteredTasks.length > 0" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      <app-taskcard
        *ngFor="let task of filteredTasks"
        [task]="task" 
        (edit)="editTask(task)"
        (delete)="deleteTask(task)"
        (toggleState)="toggleTaskState(task)">
      </app-taskcard>
    </div>
  </div>
</div>
